#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10px;
}

.bolder{
    font-weight: bold;
}

#modalCadastro{
    max-height: 100%; 
    overflow: visible;
}