@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}
.btn-flat:focus{
    background-color: transparent;
}
.btnLight{
    text-transform: inherit;
    border: 0.5px solid #fff;
    color: #fff;
}
.btnLight:hover{
    background: #fff;
    color: #29b6f6;
}
.btnLightBlue{
    text-transform: inherit;
    border: 0.5px solid #29b6f6;
    color: #29b6f6;
}
.btnLightBlue:hover{
    background: #29b6f6;
    color: #fff;
}
.btnLightGrey{
    text-transform: inherit;
    border: 0.5px solid #fff;
    color: #fff;
}
.btnLightGrey:hover{
    background: #fff;
    color: #212121;
}

.btnTextLight{
    text-transform: inherit;
    color: #fff;
}
.btnTextLight:hover{
    background: #fff;
    color: #29b6f6;
}

.btnDark{
    text-transform: inherit;
    border: 0.5px solid #212121;
    color: #212121;
}
.btnDark:hover{
    background: #212121;
    color: #fff;
}

.btnDarkFill{
    text-transform: inherit;
    background: #212121;
    border: 0.5px solid #212121;
    color: #fff;
}
.btnDarkFill:hover{
    background: transparent;
    color: #212121;
}

.btnBlock{
    width: 100%;
}
.inputLight, .inputLight::placeholder {
    color: #fff !important;
}
.inputLight:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}
.inputDark, .inputDark::placeholder {
    color: #212121 !important;
}
.inputDark:focus {
    border-bottom: 1px solid #212121 !important;
    box-shadow: 0 1px 0 0 #212121 !important;
}



