.cardZoom{
  margin-top: 10%;
  width: 300px;
  height: 300px;
}

.blue-icon{
    color:#42a5f5;
}


#CadastarEscolas{
  max-height: 100%;
  overflow: inherit;
  margin-top: -60px;
}

.scroll{
  overflow-y: scroll;
  max-height: 250px;
  width: 100%;
}

h3{
  text-align: center;
}

.btnDefaultFormContas{
  text-transform: inherit !important;
  border: 0.5px solid #212121 !important;
  color: #212121 !important;
  margin-right: 0 !important;
}
.btnDefaultFormContas:hover{
  color: #fff !important;
  background-color: #212121 !important;
}

#drop{
  width: 2px;
}

button#cadEscola{
  margin-top: -35px;
}