body{
  overflow-x: hidden;
}
.slider .slides {
    background-color: transparent;
}
.btn-flat{
    margin-right: -10px !important;
    transition: 0.2s;
}
.btnDefault{
    text-transform: inherit;
    border: 0.5px solid #fff;
    color: #fff;
}
.btnDefault:hover{
    background: #fff;
    color: #29b6f6;
}
.btnLight{
    text-transform: inherit;
    border: 0.5px solid #29b6f6;
    color: #29b6f6;
}
.btnLight:hover{
    background: #29b6f6;
    color: #fff;
}
.btnText{
    text-transform: inherit;
    color: #fff;
}
.btnText:hover{
    background: #fff;
    color: #29b6f6;
}
.btnHome{
    text-transform: inherit;
    border: 0.5px solid #212121;
    color: #212121;
    margin: 20px 20px 0 0 !important;
}
.btnHome:hover{
    background: #212121;
    color: #fff;
}
.btnHomeFill{
    text-transform: inherit;
    background: #212121;
    border: 0.5px solid #212121;
    color: #fff;
    margin: 20px 20px 0 0 !important;
}
.btnHomeFill:hover{
    background: transparent;
    color: #212121;
}
.btnLogin{
    text-transform: inherit;
    border: 0.5px solid #212121;
    color: #212121;
    margin-right: 0 !important;
}
.btnLogin:hover{
    background: #212121;
    color: #fff;
}
.slides{
    padding: 10vh 0;
}
blockquote{
    border-color: #212121;
    font-size: 18px;
}
.sectionCards{
    padding: 6vh 0 3vh 0;
    display: flex;
    align-items: center !important;
}
.cardHover{
    padding: 5vh;
    transition: 0.2s;
    border-radius: 4px;
    width: 320px;
    height: 320px;
}
.cardHover:hover{
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1), 0 4px 30px 0 rgba(0,0,0,0.32);
}
.iconSocial {
  transition: 0.2s;
  margin: 5px 25px;
}
.fa-facebook:hover {
  transform: scale(1.09);
  color: #3C5A99;
}
.fa-twitter:hover {
  transform: scale(1.09);
  color: #1DA1F2;
}
.fa-instagram:hover {
  transform: scale(1.09);
  color: #405DE6;
}
.inputLogin::placeholder{
    color : #212121;
}






/* css for gear svg animation */
.machine {
  width: 60vmin;
  fill: #212121; }

.small-shadow, .medium-shadow, .large-shadow {
  fill: rgba(0, 0, 0, 0.2); }

.small {
	animation: counter-rotation 3.5s infinite linear;
    transform-origin: 100.136px 225.345px;
}
.small-shadow {
	animation: counter-rotation 3.5s infinite linear;
    transform-origin: 110.136px 235.345px;
}
.medium {
	animation: rotation 5.25s infinite linear;
    transform-origin: 254.675px 379.447px;
}
.medium-shadow {
	animation: rotation 5.25s infinite linear;
    transform-origin: 264.675px 389.447px;
}
.large {
    animation: counter-rotation 7s infinite linear;
    transform-origin: 461.37px 173.694px;
}
.large-shadow {
	animation: counter-rotation 7s infinite linear;
    transform-origin: 471.37px 183.694px;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to   {
        transform: rotate(359deg);
    }
}
@keyframes counter-rotation {
    from {
        transform: rotate(359deg);
    }
    to   {
        transform: rotate(0deg);
    }
}

/* css for slide of login and register*/
.loginBox{
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: 1s;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm{
  position: absolute;
  color: #212121;
  width: 50vw;
}
.btnCloseLogin{
  color: #000;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 24px;
  opacity: 1;
}
.mostraLogin{
  left: 0;
}
.linkA:hover{
    text-decoration: underline;
}

.registerBox{
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: 1s;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnCloseRegister{
  color: #000;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 24px;
  opacity: 1;
}
.mostraRegister{
  right: 0;
  position: fixed;
}
