input::placeholder{
  color: #000;
}
.btnDefaultPerfil{
  text-transform: inherit !important;
  border: 0.5px solid #212121 !important;
  color: #212121 !important;
  margin-right: 0 !important;
}
.btnDefaultPerfil:hover{
  color: #fff !important;
  background-color: #212121 !important;
}
.imageProfile{
  height: 450px;
  width: 450px;
}
.formPerfil{
  display: flex;
  justify-content: center;
}
.titleForm{
  margin: 0 !important;
}

